language: node_js

node_js: "9"

os: linux
    
dist: trusty
sudo: required

cache:
  directories:
    - "node_modules"
    
services:
    - docker
    
env:
  global:
    - DOCKER_IMAGE=electronuserland/builder:wine
    - DEBUG=electron-builder
    
before_install:
  - ./travis-linux-setup.sh
  - npm install -g gulp

script:
  - "gulp package"